<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670477512617-63788mlivnku5na8bgrisqt4igcglna7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670477512617-63788mlivnku5na8bgrisqt4igcglna7</string>
	<key>API_KEY</key>
	<string>AIzaSyDp-87uRuKrwy7_Hm9sGo5FforhygPAZ4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>670477512617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>test-268cf</string>
	<key>STORAGE_BUCKET</key>
	<string>test-268cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>DATABASE_URL</key>
	<string>https://test-268cf-default-rtdb.europe-west1.firebasedatabase.app</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:670477512617:ios:ef3c2a5067ffd8b1b5deb8</string>
</dict>
</plist>
